



<div class="row align-center mb-5">
    <div class="col-md-6">
        <h2>Welcome! </h2>
    </div>
    <div class="col-md-6">
        {{!-- <h3><a href="mailto:{{user.email}}">{{user.email}}</a></h3> --}}
    </div>
</div>
<div>
    <div class="form-group">

        <button class="btn btn-seccondary" onClick="window.location.href='/issue'" type="issue"> maintenance help request</button>

  

    </div>
    <div>
        <h4>Active issues  </h4>
        
        {{#each issues as |issue| }}
        {{#if issue.active}}
        <div id="active-issues">
            <h6>
            {{issue.tenant_id}}<br>
            {{issue.room}}<br>
            {{issue.issue}}</h6>
        </div>
        {{/if}}
        {{/each}}
        
    </div>
    <div>
        <h4>Completed issues</h4>
        {{#each issues as |issue| }}
        {{#unless issue.active}}
        <div id="completed-issues">
        <h6>{{issue.tenant_id}} <br>
            {{issue.room}} <br>
            {{issue.issue}}</h6>
       </div>
        {{/unless}}
        {{/each}}

    </div>
<script type="text/javascript" src="/js/homepage.js"></script>
</div>


{{!-- todo
1-  need to make a funtion that generates html off of the completed issue file

2-  need to have logic in homepage that prevents body content from displaying until logged in.

3-  need to add logic that filters only user issues if user is logged in vs manager.  


 --}}


