<div class="row align-center my-2">
    <div class="col-md-6">
        <h2>Welcome! </h2>
    </div>
</div>
<div>
    <button class="btn btn-warning" onClick="window.location.href='/issue'"> Maintenance Help Request</button>
    <div class="container">
        <!-- animate.css  new technology-->
        <h4 class="animate__animated animate__slideInRight">>Active Issues </h4>
        <div class="row" id="active-issues">
            {{#each issues as |issue| }}
            {{#if issue.active}}
            <div class="col-3 card m-3 p-2">
                <h6>Tenant: {{issue.tenant_id}}</h6>
                <h6>Room: {{issue.room}}</h6>
                <h6>Issue: {{issue.issue}}</h6>
                <button id={{issue.id}} class="btn btn-primary completeIssue" type="click">Complete</button>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
        <!-- animate.css  new technology-->
    <h4 class="animate__animated animate__slideInRight">>Completed Issues</h4>
    <div class="row" id="completed-issues">
        {{#each issues as |issue| }}
        {{#unless issue.active}}
        <div class="col-3 card m-3 p-2">
            <h6>Tenant: {{issue.tenant_id}}</h6>
            <h6>Room: {{issue.room}}</h6>
            <h6>Issue: {{issue.issue}}</h6>
            <button id={{issue.id}} class="btn btn-primary deleteIssue" type="click">Archive</button>
        </div>
        {{/unless}}
        {{/each}}

    </div>
    <script type="text/javascript" src="/js/homepage.js"></script>
</div>

